.container{
  margin: 0 auto;
  padding: 0 auto;
}
body{
  margin: 0 auto;
  padding: 0 auto;
  
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0 auto;
  padding: 0 auto;
}
.slick-slide{
  padding: 0 10px;
}
.slick-center{
  opacity: 1;
    transform: scale(1.08);
}